* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin-top: 30px
}

/* navbar*/
header nav{
    overflow: hidden;
    width:100%;
    background: #ffffff;
    position: fixed;
    top: 0px;
    list-style-type: none;
    text-align: center; 
    padding: 60px 0px 15px;
    z-index: 9999;
    box-shadow: 0px 0px 5px #888888
}

.headLogo {
    top: 0;
    left: 50%;
    width: 200px;
    position: fixed;
    z-index: 9998;
    transform: translateX(-50%);
    padding-top: 18px;
}

header li a { /* font for nav links */
    font-family: "Unica One",sans-serif;
    font-size: 14px;
    color: #4b4b4b;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

header li a:hover{ /*underline hover */
    padding-bottom: 10px;
    border-bottom: 6px solid #4b4b4b;
} 

.nav_links li {
    display: inline-block;
    margin-left: 5px;
}

/*Main article top of page */
.spotlight {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.article-wrap { /*text inside image */
    font-family: "Unica One",sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    color: white;
    padding: 7.5px;
    display: inline-block;
    position: relative;
    transform: translateY(-110%);
    text-align: center;
    background-color: rgb(12, 72, 182);
}

.article-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;
}

.article-text a{
    text-decoration: none;
    color: black;
}

.article-text a:hover{
    color: blue;
}

.author-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    text-align: center;
    margin-bottom: 40px;
}

.author-text a:hover{
    color: blue;
}

/*sub article  ====================*/
.substories{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width:1490px; */
    flex-wrap: wrap;
    padding-left: 80px;
}
.subDisplay{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    margin-bottom: 40px;
    margin-right: 50px;

}

.substories .subDisplay img{
    width: 280px;
    height: 160px;
}

.substory-text{
    text-align: center;
    width: 300px;
    padding-right: 10px;
}

.substories .subDisplay h2{
    padding-top:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.substories .subDisplay a:hover{
    color: blue;
}

.substory-wrap{ /*text inside substory */
    display: inline-block;
    transform: translate(245%, 450%);
    position: absolute;
}

.substory-wrap p { /*text font inside substory */
    font-family: "Unica One",sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    color: white;
    padding: 7.5px;
    z-index: 15;
    text-align: center;
    background-color: rgb(12, 72, 182);
    bottom: 14px;
}


/* grid article  ==================== */

.gridContainer {
    display: flex;
    justify-content: center;
    /* margin: 0px 370px 0px 370px; */
}

.gridContainer img{ /*Image in grid */
    margin-top: 20px;
    width: 785px;
    height: 440px;
}

.gridItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.grid-text{
    width: 785px;
    padding-left: 50px;
    margin-right: 100px;
    transform: translateY(-25%)
}   


.gridItem h2{ /*main title*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: black;
    padding-top: 10px;
}

.gridItem h3{ /*sub description*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(63, 60, 60);
    padding-top: 10px;
}

.gridItem p{ /*Author*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 10px;
    color: rgb(63, 60, 60);
}

.grid-wrap p { /*text above grid article */
    font-family: "Unica One",sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    color: white;
    padding: 7.5px;
    z-index: 15;
    text-align: center;
    background-color: rgb(12, 72, 182);
    bottom: 14px;
    transform: translate(-720%, -1615%);
}
/*Scroll menu ====================*/
.scrollItem { /*Scrollbar*/
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 1124px;
    overflow-y: scroll;
}

.scrollItem .box{ /*container for scrollItem*/
    width:265px;
    height: 106px;
    margin: 10px;
    box-shadow: 0px 0px 2px 0px #888888
}

.scrollItem img{
    width: 78px;
    height: 78px;
    transform: translate(10%,-10%)
}

.scrollItem h2{ /*scroll item description */
    width: 150px;
    height: 80px;
    position: relative;
    font-size: 0.8em;
    font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    transform: translate(0%, -120%);
    margin: 10px 40px 10px 100px;
    padding-left: 5px;
}

/*2nd sub articles */ 
.substories2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 50px;
}

.subItem{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    margin-bottom: 40px;
    padding-right: 30px;
    width: 470px;
    
}

.substories2 img{
    width: 356px;
    height: 200px;
    margin-top: 30px; 
    margin-right: 40px;
}

.substories2 h4 { /*subarticles item wrap */
    font-family: "Unica One",sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    padding: 7.5px;
    z-index: 15;
    color:rgb(255, 241, 241);
    background-color: rgb(12, 72, 182);
    bottom: 14px;
    transform: translate(0%, -790%);
    width: 51px;
    height: 29px;
}

.substories2-item-text{
    display: block;
    width: 356px;
    padding-bottom: 10px;
    transform: translateY(-15%);
}   

.substories2 h2{ /*main title*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: black;
}

.substories2 h3{ /*sub description*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(63, 60, 60);
    padding-top: 10px;
}

.substories2 p{ /*Author*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 10px;
    color: rgb(63, 60, 60);
}

/*footer =====================*/
footer{
    margin-top: 40px;
    padding: 100px;
    background-color: rgb(29, 28, 28);
    bottom: 0;
}

.footLogo {
    display: flex;
    bottom: 100px;
    left: 50%;
    width: 230px;
    height: 34px;
    position: relative;
    z-index: 9998;
    transform: translateX(-50%);
    padding-top: 30px;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer li a { /* font for nav links */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(209, 208, 208);
    text-decoration: none;
}

footer li a:hover{ /*underline hover */
    border-bottom-color: transparent;
    color: rgb(133, 133, 133);
} 

.foot_nav_links li {
    display: inline-block;
    padding: 5px 5px;
    transform: translateY(-150%);
}

.foot_nav_links .pipe{
    color:  rgb(209, 208, 208);
}

footer p{
    display: flex;
    align-items: center;
    font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    justify-content: center;
    color:rgb(209, 208, 208);
    font-size: 15px;
    transform: translateY(-180%);
}
/* media =======================================*/
@media(max-width: 1200px){
    .scrollItem{
        display: none;
    }
}
    
@media(max-width: 768px){
    .spotlight{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0px 5px 0px 0px;
    }
    
    .article-text{
        font-size: 14px;
    }

    .spotlight img{
        margin-top: 100px;
        width: 280px;
        height: 160px;
    }

    .substories {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .substory-wrap{ /*text inside substory */
        display: inline-block;
        transform: translate(-310%, 450%);
        position: absolute;
    }

    .subDisplay {
        display: block;
        padding: 5px 10px 5px 10px;
    }
    
    .gridContainer{
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
    }
    .gridContainer img{
        width: 280px;
        height: 160px;
    }

    .grid-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        padding-top: 10px;
        width:310px;
    }

    .grid-text h2{
        font-size: 18px;
        padding:0;
        text-align: center;
        padding: 0px 10px 0px 10px;

    }

    .grid-wrap p { /*text above grid article */
        font-family: "Unica One",sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 12px;
        color: white;
        padding: 7.5px;
        z-index: 15;
        text-align: center;
        background-color: rgb(12, 72, 182);
        bottom: 14px;
        transform: translate(-0%, -100%);
    }

    .grid-text h3{
        display: none;
    }

    .scrollItem{
        display: none;
    }

    footer{
        width: 100%;
        overflow: hidden;
        padding: 30px;
    }

    footer .footLogo{
        transform: translate(-50%, 180%);
    }

    footer ul{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        transform: translate(0%);
        padding-bottom: 2px;
        margin-top: 60px;
        position:relative;
    }
    footer p{
        margin-top:5px;
    }
}